#images-container-row{
    margin-top: 100px;
    margin-left: 10px;
}

a{
    color: #222;
}

#show-more-button-row{
    text-align: center;
}

#clothes-detection-btn-row{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: right;
}







